.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  border-top: 1px solid var(--color-200);
}

.toggleLabel {
  color: var(--color-950);
  cursor: pointer;
  user-select: none;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 2.75rem;
  height: 1.5rem;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-0);
  border: 1px solid var(--color-200);
  border-radius: 24px;
  transition: var(--transition-normal);
}

.toggleSlider:before {
  position: absolute;
  content: '';
  height: 1.125rem;
  width: 1.125rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--color-300);
  border-radius: 50%;
  transition: var(--transition-normal);
}

.toggleSwitch input:checked + .toggleSlider {
  background-color: var(--color-500);
  border-color: var(--color-500);
}

.toggleSwitch input:checked + .toggleSlider:before {
  transform: translateX(1.25rem);
  background-color: var(--color-0);
}

.toggleSwitch input:disabled + .toggleSlider {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggleSwitch input:disabled {
  cursor: not-allowed;
}

.toggleSwitch input:focus + .toggleSlider {
  box-shadow: 0 0 0 2px var(--color-200);
}
