.customSessionContainer {
  background: var(--color-0, var(--blue-50));
  border-radius: 8px;
  border: 2px solid var(--color-100, var(--blue-100));
  position: relative;
  transition: all var(--transition-normal);
  user-select: none;
}

.customSessionContainer:hover:not(:disabled),
.selected {
  border-color: var(--color-500, var(--blue-500));
}

.resetButton {
  background: none;
  border-radius: 50%;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  color: var(--color-950, var(--blue-950));
  height: 1rem;
  padding: 0.25rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  transition: all var(--transition-normal);
  width: 1rem;
}

.resetButton:hover {
  background-color: var(--color-50, var(--blue-50));
}

.resetButton:active,
.resetButton:focus,
.resetButton:focus-visible {
  outline: 1px solid var(--color-600, var(--blue-600));
  outline-offset: 1px;
}

.rotating {
  animation: rotate 0.3s ease-in-out;
}

/* Rotate on click animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
