.customSessionContainer {
  background: var(--color-0, var(--blue-50));
  border-radius: 8px;
  border: 2px solid var(--color-100, var(--blue-100));
  position: relative;
  transition: all var(--transition-normal);
  user-select: none;
}

.customSessionContainer:hover:not(:disabled),
.selected {
  border-color: var(--color-500, var(--blue-500));
}
