.sessionsMenu {
  animation: slideDown 0.3s ease-out;
  background: var(--color-50, var(--blue-50));
  border-radius: 12px;
  margin-top: -4px;
  position: absolute;
  top: 100%;
  z-index: 100;
  transition: background var(--transition-normal);
  right: 1rem;
  left: 1rem;
  min-width: auto;

  @media (width > 768px) {
    min-width: auto;
    right: 20px;
    left: unset;
  }
}

.sessionsGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;

  @media (width <= 385px) {
    grid-template-columns: 1fr;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
