.toggleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 0.75rem;
}

.toggleItem {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  transition: all var(--transition-normal);
  user-select: none;
}

.toggleLabel {
  flex: 1;
  margin: 0 0.5rem 0 0;
  text-align: left;
}

.toggleSwitch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.toggleSwitch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.toggleSlider {
  background-color: var(--color-200, var(--blue-200));
  border-radius: 1.5rem;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all var(--transition-normal);
}

.toggleSlider:before {
  background-color: var(--color-0, var(--blue-0));
  border-radius: 50%;
  bottom: 0.1875rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  content: '';
  height: 1.125rem;
  left: 0.1875rem;
  position: absolute;
  transition: all var(--transition-normal);
  width: 1.125rem;
}

.toggleSwitch input:checked + .toggleSlider {
  background-color: var(--color-500, var(--blue-500));
}

.toggleSwitch input:checked + .toggleSlider:before {
  transform: translateX(1.5rem);
}

.toggleSwitch input:disabled + .toggleSlider {
  cursor: not-allowed;
  opacity: 0.5;
}

.toggleSwitch input:disabled + .toggleSlider:before {
  background-color: var(--color-300, var(--blue-300));
}

.toggleItem:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.toggleItem:disabled:hover {
  background: transparent;
}
