.tabContainer {
  background: var(--blue-50);
  border-radius: 12px;
  position: relative;
}

.tabIndicator {
  background: var(--blue-500);
  border-radius: 4px;
  bottom: 0px;
  height: 0.25rem;
  margin-bottom: 0.75rem;
  position: absolute;
  transform: translateX(-50%);
  transition: all var(--transition-normal);
  width: 1.25rem;
}

.tabItem {
  background: none;
  border-radius: 4px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  height: 2rem;
  position: relative;
  transition: all var(--transition-normal);
}

.tabItem:hover {
  transform: translateY(-1px);
}

.tabItem:focus,
.tabItem:active {
  font-weight: var(--text-bold);
  outline: unset;
  transform: translateY(-1px);
}

.tabItemActive {
  font-weight: var(--text-bold);
}
