.tabContainer {
  background: var(--color-50, var(--blue-50));
  border-radius: 12px;
  position: relative;
  transition: background var(--transition-normal);
}

.tabIndicator {
  background: var(--color-500, var(--blue-500));
  border-radius: 4px;
  bottom: 0px;
  height: 0.25rem;
  margin-bottom: 0.75rem;
  position: absolute;
  transform: translateX(-50%);
  transition: all var(--transition-normal);
  width: 1.25rem;
}

.tabItem {
  background: none;
  border-radius: 4px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  height: 2rem;
  position: relative;
  transition: all var(--transition-normal);
}

.tabItem:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.tabItem:hover:not(:disabled) {
  transform: translateY(-1px);
}

.tabItem:focus:not(:disabled),
.tabItem:active:not(:disabled) {
  font-weight: var(--text-bold);
  outline: unset;
  transform: translateY(-1px);
}

.tabItemActive {
  font-weight: var(--text-bold);
}
