.tabContainer {
  background: var(--blue-50);
  border-radius: 12px;
}

.tabItem {
  background: none;
  border-radius: 4px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  flex: 1;
  font-weight: var(--text-medium);
  height: 2rem;
  position: relative;
  text-align: center;
}

.tabItem:hover {
  background: var(--blue-100);
  transform: translateY(-1px);
}

.tabItem:focus,
.tabItem:active {
  background: var(--blue-100);
  outline: unset;
  transform: translateY(-1px);
}

.tabItemActive {
  font-weight: var(--text-bold);
}

.tabItemActive::after {
  background: var(--blue-500);
  border-radius: 4px;
  bottom: 0px;
  content: '';
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 20px;
}
