/* 24px / 1.2 */
.t-xl {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* 22px / 1.5 */
.t-lg {
  font-size: 1.375rem;
  line-height: 1.5;
}

/* 16px / 24px */
.t-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* 12px / 16px */
.t-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}

.t-xs {
  font-size: var(--text-xs);
}

.t-light {
  font-weight: var(--text-light);
}

.t-regular {
  font-weight: var(--text-regular);
}

.t-medium {
  font-weight: var(--text-medium);
}

.t-bold {
  font-weight: var(--text-bold);
}

.uppercase {
  text-transform: uppercase;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-italic {
  font-style: italic;
}

.t-950 {
  color: var(--blue-950);
}

.t-600 {
  color: var(--blue-600);
}

.t-500 {
  color: var(--blue-500);
}

.t-300 {
  color: var(--blue-300);
}

.t-100 {
  color: var(--blue-100);
}

.t-0 {
  color: var(--blue-0);
}
