/* 24px / 1.2 */
.tXL {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* 22px / 1.5 */
.tLG {
  font-size: 1.375rem;
  line-height: 1.5;
}

/* 16px / 24px */
.tMD {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* 12px / 16px */
.tSM {
  font-size: 0.75rem;
  line-height: 1rem;
}

.tLight {
  font-weight: var(--text-light);
}

.tRegular {
  font-weight: var(--text-regular);
}

.tMedium {
  font-weight: var(--text-medium);
}

.tBold {
  font-weight: var(--text-bold);
}

.uppercase {
  text-transform: uppercase;
}

.tLeft {
  text-align: left;
}

.tCenter {
  text-align: center;
}

.tRight {
  text-align: right;
}

.tItalic {
  font-style: italic;
}

.t950 {
  color: var(--blue-950);
}

.t600 {
  color: var(--blue-600);
}

.t500 {
  color: var(--blue-500);
}

.t300 {
  color: var(--blue-300);
}

.t100 {
  color: var(--blue-100);
}

.t0 {
  color: var(--blue-0);
}
