/* Display */
.d-flex {
  display: flex;
}

/* Flex Direction */
.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

/* Flex Wrap */
.f-wrap {
  flex-wrap: wrap;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.f-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Justify Content */
.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

/* Align Items */
.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.ai-baseline {
  align-items: baseline;
}

/* Align Content */
.ac-start {
  align-content: flex-start;
}

.ac-end {
  align-content: flex-end;
}

.ac-center {
  align-content: center;
}

.ac-stretch {
  align-content: stretch;
}

.ac-between {
  align-content: space-between;
}

.ac-around {
  align-content: space-around;
}

/* Align Self */
.as-start {
  align-self: flex-start;
}

.as-end {
  align-self: flex-end;
}

.as-center {
  align-self: center;
}

.as-stretch {
  align-self: stretch;
}

.as-baseline {
  align-self: baseline;
}

/* Flex Properties */
.f-1 {
  flex: 1;
}

.f-auto {
  flex: auto;
}

.f-none {
  flex: none;
}

.f-grow-0 {
  flex-grow: 0;
}

.f-grow-1 {
  flex-grow: 1;
}

.f-shrink-0 {
  flex-shrink: 0;
}

.f-shrink-1 {
  flex-shrink: 1;
}

.f-basis-auto {
  flex-basis: auto;
}

.f-basis-0 {
  flex-basis: 0;
}

/* Gaps */
.gap-0 {
  gap: 0;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-48 {
  gap: 3rem;
}

/* Contenedores */
.container {
  padding: 0 1rem;
  max-width: 1168px;
}

.w-100 {
  width: 100%;
}
