/* Display */
.dFlex {
  display: flex;
}

/* Flex Direction */
.fCol {
  flex-direction: column;
}

.fRow {
  flex-direction: row;
}

/* Flex Wrap */
.fWrap {
  flex-wrap: wrap;
}

.fNowrap {
  flex-wrap: nowrap;
}

.fWrapReverse {
  flex-wrap: wrap-reverse;
}

/* Justify Content */
.jcStart {
  justify-content: flex-start;
}

.jcEnd {
  justify-content: flex-end;
}

.jcCenter {
  justify-content: center;
}

.jcBetween {
  justify-content: space-between;
}

.jcAround {
  justify-content: space-around;
}

.jcEvenly {
  justify-content: space-evenly;
}

/* Align Items */
.aiStart {
  align-items: flex-start;
}

.aiEnd {
  align-items: flex-end;
}

.aiCenter {
  align-items: center;
}

.aiStretch {
  align-items: stretch;
}

.aiBaseline {
  align-items: baseline;
}

/* Align Content */
.acStart {
  align-content: flex-start;
}

.acEnd {
  align-content: flex-end;
}

.acCenter {
  align-content: center;
}

.acStretch {
  align-content: stretch;
}

.acBetween {
  align-content: space-between;
}

.acAround {
  align-content: space-around;
}

/* Align Self */
.asStart {
  align-self: flex-start;
}

.asEnd {
  align-self: flex-end;
}

.asCenter {
  align-self: center;
}

.asStretch {
  align-self: stretch;
}

.asBaseline {
  align-self: baseline;
}

/* Flex Properties */
.f1 {
  flex: 1;
}

.fAuto {
  flex: auto;
}

.fNone {
  flex: none;
}

.fGrow0 {
  flex-grow: 0;
}

.fGrow1 {
  flex-grow: 1;
}

.fShrink0 {
  flex-shrink: 0;
}

.fShrink1 {
  flex-shrink: 1;
}

.fBasisAuto {
  flex-basis: auto;
}

.fBasis0 {
  flex-basis: 0;
}

/* Gaps */
.gap0 {
  gap: 0;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-40 {
  gap: 2.5rem;
}

.gap-48 {
  gap: 3rem;
}

/* Contenedores */
.container {
  max-width: 1200px;
  padding: 0 20px;
}

/* Textos */
.t-xsm {
  /* 8px/12px */
  font-size: 0.625rem;
  line-height: 0.625rem;
}

.t-sm {
  /* 12px/16px */
  font-size: 0.75rem;
  line-height: 1rem;
}

.t-paragraph {
  /* 16px/24px */
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-subheading {
  /* 18px/28px */
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.t-0 {
  color: var(--blue-0);
}

.t-50 {
  color: var(--blue-50);
}

.t-100 {
  color: var(--blue-100);
}

.t-200 {
  color: var(--blue-200);
}

.t-300 {
  color: var(--blue-300);
}

.t-500 {
  color: var(--blue-500);
}

.t-600 {
  color: var(--blue-600);
}

.t-950 {
  color: var(--blue-950);
}

.t-light {
  font-weight: var(--text-light);
}

.t-regular {
  font-weight: var(--text-regular);
}

.t-medium {
  font-weight: var(--text-medium);
}

.t-bold {
  font-weight: var(--text-bold);
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}
