/* Display */
.dFlex {
  display: flex;
}

/* Flex Direction */
.fCol {
  flex-direction: column;
}

.fRow {
  flex-direction: row;
}

/* Flex Wrap */
.fWrap {
  flex-wrap: wrap;
}

.fNowrap {
  flex-wrap: nowrap;
}

.fWrapReverse {
  flex-wrap: wrap-reverse;
}

/* Justify Content */
.jcStart {
  justify-content: flex-start;
}

.jcEnd {
  justify-content: flex-end;
}

.jcCenter {
  justify-content: center;
}

.jcBetween {
  justify-content: space-between;
}

.jcAround {
  justify-content: space-around;
}

.jcEvenly {
  justify-content: space-evenly;
}

/* Align Items */
.aiStart {
  align-items: flex-start;
}

.aiEnd {
  align-items: flex-end;
}

.aiCenter {
  align-items: center;
}

.aiStretch {
  align-items: stretch;
}

.aiBaseline {
  align-items: baseline;
}

/* Align Content */
.acStart {
  align-content: flex-start;
}

.acEnd {
  align-content: flex-end;
}

.acCenter {
  align-content: center;
}

.acStretch {
  align-content: stretch;
}

.acBetween {
  align-content: space-between;
}

.acAround {
  align-content: space-around;
}

/* Align Self */
.asStart {
  align-self: flex-start;
}

.asEnd {
  align-self: flex-end;
}

.asCenter {
  align-self: center;
}

.asStretch {
  align-self: stretch;
}

.asBaseline {
  align-self: baseline;
}

/* Flex Properties */
.f1 {
  flex: 1;
}

.fAuto {
  flex: auto;
}

.fNone {
  flex: none;
}

.fGrow0 {
  flex-grow: 0;
}

.fGrow1 {
  flex-grow: 1;
}

.fShrink0 {
  flex-shrink: 0;
}

.fShrink1 {
  flex-shrink: 1;
}

.fBasisAuto {
  flex-basis: auto;
}

.fBasis0 {
  flex-basis: 0;
}

/* Gaps */
.gap0 {
  gap: 0;
}

.gap4 {
  gap: 0.25rem;
}

.gap8 {
  gap: 0.5rem;
}

.gap16 {
  gap: 1rem;
}

.gap24 {
  gap: 1.5rem;
}

.gap32 {
  gap: 2rem;
}

.gap40 {
  gap: 2.5rem;
}

.gap48 {
  gap: 3rem;
}

/* Contenedores */
.container {
  padding: 0 1rem;
  max-width: 1168px;
}

.w100 {
  width: 100%;
}
