.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btnStart {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
}

.btnStart:hover {
  background-color: var(--primary-color-hover);
}

.btnReset {
  background-color: var(--danger-color);
  border: none;
  color: var(--white-color);
}

.btnReset:hover {
  background-color: var(--danger-color-hover);
}
