.btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btnStart {
  background-color: var(--blue-500);
  height: 6.25rem;
  transition: background-color var(--transition-normal);
  width: 6.25rem;
  z-index: 10;
}

.btnStartIcon {
  width: 4.5rem;
  height: 4.5rem;
}

.btnStart:hover {
  background-color: var(--blue-600);
}

.btnReset {
  background-color: var(--blue-100);
  height: 3.125rem;
  transition: all var(--transition-normal);
  width: 3.125rem;
  transform: translateX(0);
  opacity: 1;
}

.btnResetEnter {
  animation: slideInFromCenter var(--transition-slow);
}

.btnResetExit {
  animation: slideOutToCenter var(--transition-slow);
}

.btnResetLeft {
  animation: slideInFromLeft var(--transition-slow);
}

.btnResetRight {
  animation: slideInFromRight var(--transition-slow);
}

.btnResetLeftExit {
  animation: slideOutToLeft var(--transition-slow);
}

.btnResetRightExit {
  animation: slideOutToRight var(--transition-slow);
}

.btnResetIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.btnReset:hover {
  background-color: var(--blue-200);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100px) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100px) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(100px) scale(0.3);
    opacity: 0;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px) scale(0.3);
    opacity: 0;
  }
}
