.btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn:focus,
.btn:active {
  outline: unset;
}

.btnStart {
  background-color: var(--color-500, var(--blue-500));
  height: 6.25rem;
  transition: background-color var(--transition-normal);
  width: 6.25rem;
  z-index: 10;
}

.btnStart:hover,
.btnStart:focus,
.btnStart:active {
  background-color: var(--color-600, var(--blue-600));
}

.btnStartIcon {
  width: 4.5rem;
  height: 4.5rem;
}

.btnRefresh {
  background-color: var(--color-100, var(--blue-100));
  height: 3.125rem;
  transition: all var(--transition-normal);
  width: 3.125rem;
  transform: translateX(0);
  opacity: 1;
}

.btnRefresh:hover,
.btnRefresh:focus,
.btnRefresh:active {
  color: var(--color-0, var(--blue-0));
  background-color: var(--color-500, var(--blue-500));
}

.btnRefreshIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.btnRefreshEnter {
  animation: slideInFromCenter var(--transition-slow);
}

.btnRefreshExit {
  animation: slideOutToCenter var(--transition-slow);
}

.btnRefreshLeft {
  animation: slideInFromLeft var(--transition-slow);
}

.btnRefreshRight {
  animation: slideInFromRight var(--transition-slow);
}

.btnRefreshLeftExit {
  animation: slideOutToLeft var(--transition-slow);
}

.btnRefreshRightExit {
  animation: slideOutToRight var(--transition-slow);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100px) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100px) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(100px) scale(0.3);
    opacity: 0;
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px) scale(0.3);
    opacity: 0;
  }
}
