.header {
  border-bottom: 1px solid var(--blue-50);
  height: 3.75rem;
  margin: 0 auto;
  max-width: 1168px;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.settingsButton {
  background: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 2.75rem; /* 44px */
  padding: 0.5rem;
  transition: background-color var(--transition-normal);
  width: 2.75rem; /* 44px */
}

.settingsButton:focus,
.settingsButton:active {
  outline: 1px solid var(--blue-600);
  outline-offset: -1px;
}

.settingsButton:hover {
  background-color: var(--blue-50);
}

.settingsIcon {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
}
