/* #region VARIABLES */
:root {
  --danger-color-hover: #c82333;
  --danger-color: #dc3545;
  --font-color: #333;
  --primary-color-hover: #0069d9;
  --primary-color: #007bff;
  --white-color: #fff;
}
/* #endregion VARIABLES */

/* #region RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100dvh;
  justify-content: center;
  line-height: 1.5;
}

button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
/* #endregion RESET CSS */

/* #region UTILS CSS */
.text-center {
  text-align: center;
}

.mt-16 {
  margin-top: 1rem;
}
/* #endregion UTILS CSS */

/* #region COMPONENTS CSS */
.main-container {
  display: grid;
  gap: 1rem;
}

.timer {
  font-size: 2rem;
}

.timer-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.timer-controls__btn {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.timer-controls__btn--start {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
}

.timer-controls__btn--start:hover {
  background-color: var(--primary-color-hover);
}

.timer-controls__btn--reset {
  background-color: var(--danger-color);
  border: none;
  color: var(--white-color);
}

.timer-controls__btn--reset:hover {
  background-color: var(--danger-color-hover);
}
/* #endregion COMPONENTS CSS */
