:root {
  --danger-color-hover: #c82333;
  --danger-color: #dc3545;
  --font-color: #333;
  --primary-color-hover: #0069d9;
  --primary-color: #007bff;
  --white-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100dvh;
  justify-content: center;
  line-height: 1.5;
}

button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
