@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-0: #f7fbff;
  --blue-50: #eaf4ff;
  --blue-100: #d6edff;
  --blue-200: #b5dfff;
  --blue-300: #88c9ff;
  --blue-500: #4faeff;
  --blue-600: #1c5ba1;
  --blue-950: #1e3a5f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: 'Advent Pro', sans-serif;
  height: 100dvh;
  justify-content: center;
  line-height: 1.5;
}

button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
