@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue-0: #f7fbff;
  --blue-50: #eaf4ff;
  --blue-100: #d6edff;
  --blue-200: #b5dfff;
  --blue-300: #88c9ff;
  --blue-500: #4faeff;
  --blue-600: #1c5ba1;
  --blue-950: #1e3a5f;
  --font-family: 'Advent Pro', sans-serif, system-ui;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition: all var(--transition-normal);
  font-size: 12px;

  @media (width > 385px) {
    font-size: 14px;
  }

  @media (width > 430px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (width > 1440px) {
    font-size: 22px;
  }
}

body {
  background-color: var(--blue-0);
  color: var(--blue-950);
  font-family: var(--font-family);
  line-height: 1.6;
  min-height: 100vh;
  transition: background-color var(--transition-normal), color var(--transition-normal);
}

main {
  max-width: 1168px;
  margin: 0 auto;
}

button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--text-bold);
  line-height: 1.2;
  color: var(--blue-950);
  transition: color var(--transition-normal);
}

h1 {
  font-size: 3.625rem;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.375rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.2;
}

p {
  margin-bottom: 0;
  color: var(--primary-700);
  transition: color var(--transition-normal);
}

@import './styles/typography.css';
