@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

@import './styles/variables.css';
@import './styles/typography.css';
@import './styles/utils.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
  transition: all var(--transition-normal);

  @media (width > 385px) {
    font-size: 14px;
  }

  @media (width > 430px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (width > 1440px) {
    font-size: 22px;
  }
}

body {
  background-color: var(--blue-0);
  color: var(--blue-950);
  font-family: var(--font-family);
  line-height: 1.6;
  min-height: 100vh;
  transition: background-color var(--transition-normal), color var(--transition-normal);
}

main {
  max-width: 1168px;
  margin: 0 auto;
}

button {
  font: inherit;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: color var(--transition-normal);
}

p {
  margin-bottom: 0;
}
